button {
    margin: 5px;
}
.divSpace {
    padding: 20px;
}
/* .divSpace::after{
    clear: both;
    display: block;
} */
/* .row::after {
    content: "";
    clear: both;
    display: block;
} */
.gify {
    width: 260px;
}

@media (max-width: 1170px) {
    /* Stop gifDiv overlapping */
    .divSpace {
        width: 100%;
        margin-left: 10px;
    } 
}
/* @media (max-width: 1140px) {
    /* Stop gifDiv overlapping */
    /* .divSpace {
        max-width: 33.3%;
        flex: 33.3% */
    /* }  */
/* } */ */